<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stark.homework.mapper.StudentMapper">

    <resultMap id="studentResultMap" type="com.stark.homework.entity.Student">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="stuNumber" column="stu_number" />
        <result property="gender" column="gender" />
        <result property="phone" column="phone" />
        <result property="degree" column="degree" />
        <result property="breakCount" column="break_count" />
        <result property="minus" column="minus" />
        <result property="createAt" column="create_at" />
        <result property="updateAt" column="update_at" />
        <association property="class_" column="class_id" select="com.stark.homework.mapper.ClassMapper.selectById"
                     javaType="com.stark.homework.entity.Class"/>
    </resultMap>

    <!-- 查询语句 -->
    <select id="selectById" resultMap="studentResultMap">
        select * from student
        where id = #{id};
    </select>

    <select id="selectAll" resultMap="studentResultMap">
        select * from student;
    </select>

    <select id="search" resultMap="studentResultMap">
        select * from student
        where id != -1
        <if test="name != null">
            and name like concat('%',#{name} , '%')
        </if>
        <if test="stuNumber != null">
            and stu_number like concat('%',#{stuNumber} , '%')
        </if>
        <if test="gender != 0">
            and gender = #{gender}
        </if>
        <if test="class_ != null">
            and class_id = #{class_.id}
        </if>
    </select>

    <select id="selectByStuNumber" resultMap="studentResultMap">
        select * from student
        where stu_number = #{stuNumber};
    </select>

    <!-- 删除语句 -->
    <delete id="delete">
        delete from student
        where id = #{id};
    </delete>

    <!-- 插入语句 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into student(name, stu_number, class_id, gender, phone, degree, break_count, minus, create_at, update_at)
        value(#{name}, #{stuNumber}, #{class_.id}, #{gender}, #{phone}, #{degree}, #{breakCount}, #{minus}, #{createAt}, #{updateAt});
    </insert>

    <!-- 更新语句 -->
    <update id="update">
        update student
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="stuNumber != null">
                stu_number = #{stuNumber},
            </if>
            <if test="class_ != null">
                class_id = #{class_.id},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="degree != null">
                degree = #{degree},
            </if>
            <if test="breakCount != null">
                break_count = #{breakCount},
            </if>
            <if test="minus != null">
                minus = #{minus},
            </if>
            <if test="createAt != null">
                create_at = #{createAt},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt},
            </if>
        </set>
        where id = #{id};
    </update>

</mapper>